resources/dtd/ingredient.dtd

<!-- DTD for representing ingredients -->
<!-- (C) Neville Churcher 2019 -->
<!-- FOREIGN KEYS: None-->
<!ENTITY version "V0.01 (C) Neville Churcher 2019">
<!ELEMENT ingredients (ingredient*)>
<!ELEMENT ingredient (id, name)>
<!ATTLIST ingredient
	type (dairy|meat|produce|other) #REQUIRED
    unit (ml|g|count) #REQUIRED
    isveg (yes|no|unknown) "no"
    isvegan (yes|no|unknown) "no"
    isgf (yes|no|unknown) "unknown"
>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>