resources/dtd/menu.dtd

<!-- DTD for representing menu -->
<!-- FOREIGN KEYS: item_id, recipe_id-->
<!ELEMENT menu (menu_id, title, description, (item*))>
<!ELEMENT menu_id (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT item (item_id, name, item_description, recipes)>
<!ELEMENT recipes (recipe_id*)>
<!-- If is_prepared is true, recipe_id should be defined-->
<!ELEMENT item_id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT item_description (name)>
<!ELEMENT recipe_id (#PCDATA)>