resources/dtd/recipes.dtd

<!-- DTD for representing recipes -->
<!-- FOREIGN KEYS: ingredient_id-->
<!ELEMENT recipes (recipe*)>
<!ELEMENT recipe (recipe_id, name, ingredients, method)>
<!ELEMENT recipe_id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT ingredients (ingredient+)>
<!ELEMENT ingredient (ingredient_id, quantity)>
<!ELEMENT ingredient_id (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT method (step+)>
<!ELEMENT step (#PCDATA)>