resources/dtd/sales.dtd

<!-- DTD for representing sales log -->
<!-- FOREIGN KEYS: item_id-->
<!ELEMENT sales ((sale*))>
<!ELEMENT sale (id, name, date, cost, item_id+)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT date (year, month, day)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT cost (#PCDATA)>
<!ELEMENT item_id (#PCDATA)>